/* General Reset */ 

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/* Typography */ 

/* body content */ 
body {
    font-family: 'Shantell Sans', cursive;
    font-size: 1.125rem;
    line-height: 1.6;   
}

/* headings */
h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: 'Rampart One', cursive;
}

h1 {
    font-size: 3rem;
}

p:has(> a) {
    text-align: center; 
}

/* Layout & Apperance */ 

header {
    height: 15vw;
    background-color:#FF8360; 
    display:flex;
    justify-content:center;
    align-items: center;
    color: #fff;   
}

.main-wrapper {
    width: 80vw; 
    margin: 0 auto;
    border: 2px solid #999; 
    padding: 1em;  
}

/* section */ 

main section{
    display: flex;
    margin:2em 0;
    gap:1em;
}

main section > div + p {
    justify-content: right;
    background-color: #3CDBD3;
    padding: 1em;  
}

main section:nth-of-type(2) p {
    background-color: #E8E288;
    padding: 1em;  
}

/* footer */ 
footer{
    display:flex;
    flex-direction:row-reverse;
    align-items:flex-start;

}


footer p,
footer a {
    background-color:#7DCE82; 
    color: #fff;
    padding: 2em;
    border: 2px solid #fff;  
}

footer p {
    text-align:center;  
    flex-grow: 3;
}

footer a {
    background-color:#FF8360;
}

footer a:hover {
    background-color: #9C528B; 
}
